<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kps.server.dao.ICardCodeDAO">

    <resultMap id="cardCode" type="com.kps.server.entity.CardCode">
        <result property="id" column="ID"/>
        <result property="code" column="CODE"/>
        <result property="term" column="TERM"/>
        <result property="smsCount" column="SMS_COUNT"/>
        <result property="status" column="STATUS"/>
        <result property="saleChannel" column="SALE_CHANNEL"/>
        <result property="useTime" column="USE_TIME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
    </resultMap>

    <insert id="saveCardCode" parameterType="com.kps.server.entity.CardCode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CARD_CODE (CODE,TERM,SMS_COUNT,STATUS,SALE_CHANNEL,CREATE_TIME,MODIFY_TIME)
        values (#{code},#{term},#{smsCount},#{status},#{saleChannel},now(),now())
    </insert>

    <select id="queryByCode" parameterType="java.lang.String" resultMap="cardCode">
        select * from CARD_CODE where code = #{code}
    </select>

    <update id="useCardCode" parameterType="java.lang.Integer">
         update CARD_CODE set STATUS=1 ,USE_TIME=now() where id = #{id}
    </update>

    <select id="queryCardCode" parameterType="com.kps.server.bean.BaseQueryBean" resultMap="cardCode">
        select * from CARD_CODE order by id desc limit ${start},${pageSize}
    </select>

    <select id="countCardCode" parameterType="com.kps.server.bean.BaseQueryBean" resultType="java.lang.Integer">
        select count(*) from CARD_CODE
    </select>

</mapper>