<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kps.server.dao.ISmsRecordDAO">

    <resultMap id="smsRecord" type="com.kps.server.entity.SmsRecord">
        <result property="id" column="ID"/>
        <result property="phone" column="PHONE" />
        <result property="title" column="TITLE" />
        <result property="refer" column="REFER" />
        <result property="customerPhone" column="CUSTOMER_PHONE" />
        <result property="createTime" column="CREATE_TIME" />
    </resultMap>

    <insert id="saveSmsRecord" parameterType="com.kps.server.entity.SmsRecord" useGeneratedKeys="true" keyProperty="id">
        insert into SMS_RECORD (PHONE,TITLE,REFER,CUSTOMER_PHONE,CREATE_TIME)
          values(#{phone},#{title},#{refer},#{customerPhone},now())
    </insert>

</mapper>