<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kps.server.dao.IThTelInfoDAO">

    <resultMap id="thTelInfo" type="com.kps.server.entity.ThTelInfo">
        <result property="id" column="ID"/>
        <result property="tel" column="TEL"/>
        <result property="company" column="company"/>
        <result property="branchName" column="branch_name"/>
        <result property="name" column="name"/>
        <result property="headPic" column="head_pic"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <select id="queryByTel" parameterType="java.lang.String" resultMap="thTelInfo">
        select * from TH_TEL_INFO where TEL=#{tel} and status=1 limit 1
    </select>

    <insert id="saveThTelInfo" parameterType="com.kps.server.entity.ThTelInfo">
        insert into TH_TEL_INFO (TEL,company,branch_name,name,head_pic,STATUS,CREATE_TIME,MODIFY_TIME)
         values (#{tel},#{company},#{branchName},#{name},#{headPic},1,now(),now());
    </insert>
    
    <update id="updateThTel" parameterType="com.kps.server.entity.ThTelInfo">
        update TH_TEL_INFO set branch_name=#{branchName},modify_time=now() where id = #{id}
    </update>

</mapper>
